body{
    background-color: #161616;
}

.titre{
    color: #eb4034;
    margin-left: 10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    
}
footer{
    color: #eb4034;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    position: fixed;
    bottom: 0;
    width: 100%;
    left:0;
    background-color: #161616;
    border-top: solid#eb4034;
}
#text-foot{
    text-align: center;
}
.is-red{
    color: #eb4034;
}
.is-centered{
    text-align: center;
}
.is-text{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}
.is-white{
    color: #ffffff;
}
.buttons{
    margin-right: 10px;
    width: fit-content;
    height: 50px;
    width: 100px;
    border: 0px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 20px;
}
.full-size{
    width: 100%;
    text-align: center;
}
.is-disable{
    background-color: #b33229;
}
.is-activate{
    background-color: #eb4034;
}
.is-activate:hover{
    cursor: pointer;
    background-color: #e7544a;
}
.is-disable:hover{
    cursor:not-allowed;
}
.is-inline{
    display: inline-flex;
}
.is-logo{
    margin: 10px;
}
.is-disguised{
    color: #161616;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.is-disguised:hover{
    cursor:default;
}
.no-style{
    text-decoration: none;
}
.is-input{
    width: 250px;
    height: 25px;
    margin-top: 5px;
}
.is-hint:hover{
    cursor: help;
}
.is-img-hide{
    opacity: 0%;
}
.is-bg-yellow{
    background-color:  yellow;
    width: 100px;
    height: 100px;
}
.is-float-left{
    float: left;
}
.is-bg-red{
    background-color:  #e42113;
    width: 100px;
    height: 100px;
}
.is-bg-blue{
    background-color:  blue;
    width: 100px;
    height: 100px;
}
.is-bg-purple{
    background-color:  purple;
    width: 100px;
    height: 100px;
}
.is-bg-brown{
    background-color:  brown;
    width: 100px;
    height: 100px;
}
.is-bg-pink{
    background-color:  pink;
    width: 100px;
    height: 100px;
}
.is-hiden-hover{
    opacity: 0;
}
.is-hiden-hover:hover{
    opacity: 1;
    cursor: default;
}
.is-answer-button{
    float: right;
    margin-right: 10px;
    width: 150px;
    height: 50px;
    border: 0px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 20px;
}